.jumbotron {
	background-color: yellow;
	color: yellow;
	margin-top: 50px;
	background-image: url("/images/skyline.jpg");
	background-size: 100%;
	background-position: 0% 40%;
}

footer {
	padding: 10px 10px 0px 10px;
	background-color: yellow;
	margin-bottom: 0px;
	margin-top: 10px;
}

.card-hotel {
	flex: 1 200px;
	margin: 10px 5px 0px 5px;
}

.btn-reserva {
	width: 100%;
	border-radius: 0;
}

.footer-icon {
	padding-right: 10px;
}

#card-tarjetas {
	margin-top: 10px;
	width: 18rem;
}

.tab-content {
	margin-top: 10px;
}